{{#extend "layout"}}
{{#content "main"}}


<section class="about">
    <div class="container">
        <img src="img/team.webp" alt="" class="about__image">
        <div class="about__text">
            <p>
                Студия «Взмах» — это видеопродакшн полного цикла.
            </p>
            <p>
                Моушен-дизайн и рекламные ролики, инфографика и маппинг, 2D- и 3D-анимация — мы творим все эти чудеса
                ежедневно. Делаем лаконичные и в то же время информативные видеоролики для бизнеса, мероприятий и других
                важных проектов.
            </p>
            <p>
                Мы слышим вас и говорим с вами доходчиво и ясно.<br>
                Все процессы прозрачны, коммуникация открытая и честная.
            </p>
            <p>
                С нас — продакшн под ключ.<br>
                С вас — доверие, которое мы всегда готовы оправдать.
            </p>
            <p>
                Motion, shooting and rock&roll
            </p>
        </div>
    </div>
</section>

<script src="assets/js/about.js"></script>


{{/content}}
{{/extend}}