{{#extend "layout"}}
{{#content "main"}}


<section class="home">
    <div class="container">
        <div class="home__video">
            
        </div>
    </div>
</section>



<script src="assets/js/index.js"></script>


{{/content}}
{{/extend}}