{{#extend "layout"}}
{{#content "main"}}


<section class="portfolio">
    <div class="container">
        <ul class="portfolio__list">
            <li class="portfolio__list-item">
                <a href="https://vimeo.com/403406714" class="portfolio__card" data-fancybox="portfolio"
                    data-caption="Казань — огромный город, которому необходима инструкция по применению с человеческим лицом. Например, такой, как городской медиапортал ИНДЕ. Нам удалось дать полное представление об издании в динамике визуального ряда без лишних слов. P.S. Использовали трек Мити Бурмистрова — а чей же еще?">
                    <div class="portfolio__card-image-container">
                        <img data-src="img/portfolio/1.webp" alt="" class="portfolio__card-image lazyload">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="portfolio__card-title">
                        «Ростех Техприемка»
                    </h4>
                    <div class="portfolio__card-text">
                        <p>
                            Государственная корпорация «Ростех» оптимизирует полный цикл процессов на производствах по
                            всей России. С нашей помощью «Техприемка» рассказывает о своей масштабной программе развития
                            для предприятий.
                            Этот трехмерный имиджевый видеоролик — почти как заставка эпичного сериала. Только гораздо
                            информативнее, поскольку в деталях демонстрирует сферу деятельности и уникальное предложение
                            компании.
                        </p>
                    </div>
                </a>
            </li>
            <li class="portfolio__list-item">
                <a href="https://vimeo.com/403406714" class="portfolio__card" data-fancybox="portfolio"
                    data-caption="Казань — огромный город, которому необходима инструкция по применению с человеческим лицом. Например, такой, как городской медиапортал ИНДЕ. Нам удалось дать полное представление об издании в динамике визуального ряда без лишних слов. P.S. Использовали трек Мити Бурмистрова — а чей же еще?">
                    <div class="portfolio__card-image-container">
                        <img data-src="img/portfolio/2.webp" alt="" class="portfolio__card-image lazyload">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="portfolio__card-title">
                        Интернет-журнал ИНДЕ
                    </h4>
                    <div class="portfolio__card-text">
                        <p>
                            Казань — огромный город, которому необходима инструкция по применению с человеческим лицом.
                            Например, такой, как городской медиапортал ИНДЕ.
                            Нам удалось дать полное представление об издании в динамике визуального ряда без лишних
                            слов.
                            P.S. Использовали трек Мити Бурмистрова — а чей же еще?
                        </p>
                    </div>
                </a>
            </li>
            <li class="portfolio__list-item">
                <a href="https://vimeo.com/403406714" class="portfolio__card" data-fancybox="portfolio"
                    data-caption="Казань — огромный город, которому необходима инструкция по применению с человеческим лицом. Например, такой, как городской медиапортал ИНДЕ. Нам удалось дать полное представление об издании в динамике визуального ряда без лишних слов. P.S. Использовали трек Мити Бурмистрова — а чей же еще?">
                    <div class="portfolio__card-image-container">
                        <img data-src="img/portfolio/3.webp" alt="" class="portfolio__card-image lazyload">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="portfolio__card-title">
                        RUSSPASS
                    </h4>
                    <div class="portfolio__card-text">
                        <p>
                            Цифровая платформа RUSSPASS — это удобный сервис для тех, кто планирует посетить Москву или
                            прокатиться по России. Забронировать билет и отель, спланировать маршрут, выбрать событие
                            для посещения — всё это доступно в умном трип-конструкторе.
                            Чтобы заявить о своих возможностях на международном мероприятии, RUSSPASS заказал у нас
                            ролик-презентацию. Мы создали визуальную концепцию, графику, анимацию и звуковое
                            сопровождение. Цифры и факты легко поданы в виде динамичной инфографики, оформленной
                            лаконично и стильно.
                        </p>
                    </div>
                </a>
            </li>
            <li class="portfolio__list-item">
                <a href="https://vimeo.com/403406714" class="portfolio__card" data-fancybox="portfolio"
                    data-caption="Казань — огромный город, которому необходима инструкция по применению с человеческим лицом. Например, такой, как городской медиапортал ИНДЕ. Нам удалось дать полное представление об издании в динамике визуального ряда без лишних слов. P.S. Использовали трек Мити Бурмистрова — а чей же еще?">
                    <div class="portfolio__card-image-container">
                        <img data-src="img/portfolio/4.webp" alt="" class="portfolio__card-image lazyload">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="portfolio__card-title">
                        TOYO NanoEnergy VAN
                    </h4>
                    <div class="portfolio__card-text">
                        <p>
                            Что такое японское качество — объяснять излишне. Для комфортной езды по любому уголку Земли
                            TOYO создают крутые технологичные шины.
                            Именно это мы и показали в деталях, создав для компании стильный продуктовый 3D-ролик.
                            Отразить преимущества нагляднее нам кажется уже невозможным.
                        </p>
                    </div>
                </a>
            </li>
            <li class="portfolio__list-item">
                <a href="https://vimeo.com/403406714" class="portfolio__card" data-fancybox="portfolio"
                    data-caption="Казань — огромный город, которому необходима инструкция по применению с человеческим лицом. Например, такой, как городской медиапортал ИНДЕ. Нам удалось дать полное представление об издании в динамике визуального ряда без лишних слов. P.S. Использовали трек Мити Бурмистрова — а чей же еще?">
                    <div class="portfolio__card-image-container">
                        <img data-src="img/portfolio/5.webp" alt="" class="portfolio__card-image lazyload">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="portfolio__card-title">
                        Стриминговая платформа WASD.TV
                    </h4>
                    <div class="portfolio__card-text">
                        <p>
                            Стриминговый сервис WASD.TV тонко чует своих людей. Рекламный ролик четко попадает в
                            аудиторию.
                            В союзе со студией BAZELEVS мы заглянули в уютный вечер стримера. Создали персонажей и
                            отрисовали живую вселенную. Где? Да в бороде! С юмором и вниманием к деталям.
                        </p>
                    </div>
                </a>
            </li>
                
        </ul>
    </div>
</section>




{{/content}}
{{/extend}}