{{#extend "layout"}}
{{#content "main"}}


<section class="about">
    <div class="container">
        <div class="default-content">
            <img src="img/service-3.webp" alt="">
            <p>
                Это текст про то, что наши ролики тридэ не оставят вас в бедэ.<br>

                Вот такенные 3д-видеоролики можем отрисовать и заанимировать для вас. Крутые. Прям как Метод Студиос.<br>

                Обожаем 3д-графику, за ней будущее. Скоро все будем жить, как в Зверополисе.
            </p>
            <p>
                Наша студия, с которой хочется работать, вообще очень прогрессивная и классная. Скоро на Таймс Сквер
                будут показывать рекламные ролики за нашим авторством: и 3д, и 2д, и вообще моушен. Красота. Вот
                увидите.
            </p>
            <p>
                Сэм нам скоро накидает семантическое ядро — и вот тут-то мы оторвемся. Весь пул запросов здесь
                будет.<br>
                Мимо не пройдете. Без наших видеороликов не останетесь. Поработаем как надо. Весь мир о вас узнает.<br>
                И о нас заодно. Потому что мы крутышки.
            </p>

        </div>

    </div>
</section>

<script src="assets/js/about.js"></script>


{{/content}}
{{/extend}}