.default-content {
    font-size: 1.3rem;
    line-height: 1.2;

    & > * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    img, video, iframe {
        display: block;
        height: auto;
        width: 100%;
        margin: 2rem 0;
    }

    iframe {
        aspect-ratio: 16 / 9;
    }

    p {
        margin: 1.5rem 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    h1, h2 {
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    h3, h4, h5, h6 {
        font-weight: 400;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
}