.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 100vh;
    

    @include breakpoint(mobile) {
        min-height: -webkit-fill-available;
    }
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.page-main {
    grid-area: main;

    &:nth-of-type(2) {
        opacity: 0;
    }
    
}
