.page-header {
    position: relative;
    z-index: 100;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.page-header__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page-header__logo {
    margin-right: 4rem;
}

.page-header__logo-image {
    display: block;
    height: auto;
    width: 17rem;
}

.page-header__menu {
}

.page-header__nav {
    & > ul {
        display: flex;
        align-items: center;
        & > li {
            border-right: 1px solid var(--text-color);
            position: relative;

            &:hover {
                & > ul {
                    opacity: 1;
                    visibility: inherit;
                    transition: opacity .3s, visibility .3s;
                }
            }
            & > ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                background-color: white;
                box-shadow: 0 0 1rem rgba(black, 0.2);
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s, visibility 0s linear .3s;

                & > li {
                    border-bottom: 1px solid var(--text-color);
                    &:last-child {
                        border: none;
                    }
                    & > a {
                        font-size: 1.3rem;
                        width: max-content;
                        max-width: 18rem;
                        display: block;
                        padding: .6rem 1rem;


                        &.active {
                            color: var(--primary-color);
                        }
                    }
                }
            }
            &:last-child {
                border-right: none;

                & > a {
                    padding-right: 0;
                }
            }
            & > a {
                padding: 1rem 1.4rem;
                font-size: 1.3rem;
                line-height: 1.2;

                text-transform: uppercase;
                display: block;

                &.active {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.page-header__burger {
    display: none;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }
}
