.home-once {
    opacity: 0;
}

.home-once-active {
    transition: all 1s;
}

.home-once-to {
    opacity: 1;
}

.home-leave {
    transform: translateX(0%);
    opacity: 1;
   
}

.home-leave-active {
    transition: all 1s;
   
  
}

.home-leave-to {
    transform: translateX(100%);
    opacity: 0;
   
    
}

.home-enter {
    transform: translateX(-100%);
    opacity: 0;
   
}

.home-enter-active {
    transition: all 1s;
   
}

.home-enter-to {
    transform: translateX(0%) !important;
    opacity: 1 !important;

}
